@charset "utf-8";/*エンコード宣言*/

/*cssリセット*/
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption, 
tbody, tfoot, thead, table, label, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	list-style:none;
	}

body{
     font: 14px/22px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif;
     color: #333; /*色は好みで変更*/
}

a{
  color: #09c; /*色は好みで変更*/
}

a:hover{
        color: #8bc; /*色は好みで変更*/
}

a img{
	border: none; /*IE用 IEはデフォルトでリンク画像に枠線ついているため*/
}

/*CSSハック*/
/*******IEハック*******/
#hoge{
    font-size: 95%\9; /*IE8*/
    *font-size: 95%;/*IE7*/
    _font-size: 95%;/*IE6*/
}

#hoge:not(:target){
    font-size: 95%\9; /*IE9*/
}


/*******Firefoxハック*******/
#hoge, x:-moz-read-only{
    font-size: 95%;
}

/*******Google Chrome,Safariハック*******/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #hoge {
        padding-top: 1px;
    }
    .huga {
        margin-bottom: 2px;
    }
}




