@charset "utf-8";

/*共通の設定*/

/*cssリセット*/
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption, 
tbody, tfoot, thead, table, label, tr, th, td{
  margin: 0;
  padding: 0; border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  list-style:none;
  font-style:normal;
  font-weight:normal;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body{
    font-family:"メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

a img{
  border: none; /*IE用 IEはデフォルトでリンク画像に枠線あり*/
}

p{
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

#wrapper{
  overflow: hidden;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.glay_layer{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
}

#pagetop{
  position: fixed;
  z-index: 5;
  right: 25px;
  bottom: 15px;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

#pagetop:hover{
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*header*/
header{
  padding: 20px 0;
  margin-bottom: 10px;
  overflow: hidden;
  background: #e6e6fa;
}

header h1{
  font-size: 120%;
}

#header-wrap{
  position: relative;
}

.menu-button{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 100;
}

.humbarger,
.humbarger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.humbarger {
  position: relative;
  top: -5px;
  width: 24px;
  height: 24px;
}
.humbarger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 3px;
}
.humbarger span:nth-of-type(1) {
  top: 0;
}
.humbarger span:nth-of-type(2) {
  top: 10px;
}
.humbarger span:nth-of-type(3) {
  bottom: 0;
}

.humbarger-on span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
  background-color: #fff;
}
.humbarger-on span:nth-of-type(2) {
  opacity: 0;
}
.humbarger-on span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
  background-color: #fff;
}

.header-nav{
  display: none;
}

.header-nav-open{
  display: block;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 80%;
  height: 100%;
  background: #fff;
}

.header-nav-open li:not(.return_btn){
  background: url('../img/arrow.png') no-repeat 8px 17px;
  padding: 10px 0;
  padding-left: 20px;
  margin-bottom: 10px;
}

.header-nav-open li:first-child{
  margin-top: 10px;
}

.header-nav-open ul li a{
  text-decoration: none;
  color: #333;
}

.header-nav-open ul li:not(.return_btn):hover{
  /*background-color: #f5f5f5;*/
}

.header-nav-open .category a{
  display: block;
}

.category > .mobile-category-detail-menu{
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 300;
  width: 80%;
  height: 100%;
  margin-left: -80%;
  background: #fff;
  padding-top: 10px;
  display: none;
}

.return_btn{
  margin-left: 10px;
  margin-bottom: 10px;
}

.search-box{
  display: none;
}

.search-box-open{
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}

/*main-content*/
#main-content{
  padding: 10px 0;
  background: #fff0f5;
}

/*下層ページのメインコンテンツ*/
/*lower-page-main-content*/
#lower-page-main-content{
  padding: 10px 0;
  background: #fff0f5;
}

/*sub-content*/
#sub-content{
  padding: 10px 0;
  background: #fff0f5;
}

/*side-bar*/
.side-bar{
  padding: 10px 0;
  display: none;
  background: #fff0f5;
}

section h2{
  text-align: center;
  margin-bottom: 20px;
}

/*how-to-use*/
.how-to-use iframe{
  width: 100%;
  height: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*iframeはそのまま埋め込んでも縦横比がうまく反映されないため、親要素を作成する必要あり*/
/*cssでpadding-topまたはpadding-bottomを%で指定するとwidthに対する比率になる仕様*/
/*16:9のコンテンツを縦横比を保ったまま貼り付けたい場合*/
.iframe-wrapper{
  padding-bottom: 56.25%;/* 9/16=56.25 */
  height: 0;
  position: relative;
}

/*contact*/
.contact_description{
  margin-bottom: 30px;
}

.contact_description span{
  color: #ff00ff;
}

#contact form{
  margin: 0 auto;
}

#contact form dd{
  margin-bottom: 20px;
}

/*footer*/
footer{
  text-align: center;
  padding: 60px 0;
  background: #e6e6fa;
}

/*スマートフォンサイズのみに適用させるスタイル*/
@media all and (max-width: 569px){

  /*product 1カラムにする場合*/
  /*.product .item{
    text-align: center;
  }

  .product .item img{
    margin-bottom: 10px;
  }

  .product p{
    text-align: left;
  }

  .product .item{
    margin-bottom: 40px;
    overflow: hidden;
  }

  .product .item:last-child{
    margin-bottom: 0;
  }*/

  /*product 2カラムにする場合*/
    
  /*子要素.news .itemのmargin-bottom: 40px;分を親要素の余白からマイナスする*/
  /*.product .container{
    margin-bottom: -40px;
  }*/

  .product .item{
    width: 49.5%;
  }

  .product .item img{
    width: 100%;
  }

  .product .container{
    overflow: hidden;
  }

  .product .container .item{
    float: left;
    margin-right: 1%;
  }

  .product .container .item:nth-of-type(2n){
    margin-right: 0;
  }

}

/*中サイズデバイス*/
@media all and (min-width: 570px){

  /*product*/
  
  /*子要素.news .itemのmargin-bottom: 40px;分を親要素の余白からマイナスする*/
  /*スマートフォンサイズで1カラムで上記を指定している場合のみ*/
  .product .container{
    /*margin-bottom: -40px;*/
  }

  .product .item{
    width: 33%;
  }

  .product .item img{
    width: 100%;
  }

  /*floatで対応する場合*/
  .product .container{
    overflow: hidden;
  }

  .product .container .item{
    float: left;
    margin-right: 0.5%;
  }

  .product .container .item:nth-of-type(3n){
    margin-right: 0;
  }

  /*flexboxでレイアウトする場合*/
  /*flexboxでレイアウト困難なパターン(4カラム以上や可変パターンなど)であれば従来通り、floatで対応する方が良い*/
  /*.product .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }*/

  /*空のflexアイテムを生成しておくことで可変でも左寄せに表示(3カラムの場合)*/
  /*.product .container::after{
    content:"";
    display: block;
    width:30%;
  }*/

  /*contact*/
  #contact form{
    margin: 0 auto;
  }

  #contact form dd input,textarea{
    width: 100%;
  }

}



/*大サイズデバイス*/
@media all and (min-width: 960px){

  #content-wrapp{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
  }

  header .container{
    width: 960px;
  }

  .menu-button{
    display: none;
  }

  .header-nav{
    display: block;
    list-style: none;
    position: absolute;
    top: 0;
    right: 5px;
  }

  .search-box{
    display: block;
    position: absolute;
    top: 0;
    right: 300px;
  }

  .header-menu > li{
    display: inline-block;
    width: 80px;
    text-align: center;
  }

  .header-menu > li > a{
    text-decoration: none;
    color: #333;
  }

  .header-menu > li > a:hover{
    border-bottom: 1px solid #333;
  }

  /*side-bar*/
  .side-bar{
    width: 150px;
    float: left;
    margin-right: 10px;
    display: block;
  }

  .category{
    position: relative;
  }

  .side-menu .category{
    background: url('../img/arrow.png') no-repeat 0px 12px;
    padding: 3px 0;
    padding-left: 10px;
    /*background: pink;*/
  }

  .side-menu .category a{
    text-decoration: none;
    color: #333;
  }

  .side-menu .category:hover{
    background-color: #f5f5f5;
  }

  .category > a{
    width: 150px;
    position: relative;
  }

  .category-detail-menu{
    width: 200px;
    margin-right: -200px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    -ms-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    display: none;
  }

  .side-menu .category-detail-menu li{
    padding: 3px 5px 0;
  }

  .side-menu .category-detail-menu li:hover{
    background-color: #f5f5f5;
  }

  /*main-content*/
  #main-content{
    width: 640px;
    float: left;
  }

  /*下層ページのメインコンテンツ*/
  /*lower-page-main-content*/
  #lower-page-main-content{
    width: 800px;
    float: left;
  }

  /*sub-content*/
  #sub-content{
    width: 150px;
    float: right;
  }

}